<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Blog Cryptomonnaies{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}


    <div>
        {% if app.request.cookies.get('theme') == 'pulse' %}
        <a href="{{ path('crypto.swapTheme' ,{'theme': app.request.cookies.get('theme')}) }}">Sombre</a>
        {% else %}
        <a href="{{ path('crypto.swapTheme',{'theme': app.request.cookies.get('theme')}) }}">Lumineux</a>
        {% endif %}
    </div>
    <link rel="stylesheet" href="https://bootswatch.com/4/{{ app.request.cookies.get('theme') }}/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('crypto.list') }}">Liste des Cryptomonnaies</a>
        </div>

        <div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>
                        <a href="#" class="btn btn-outline-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                                <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                            </svg>
                            Déconnecter</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
