<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Blog Cryptomonnaies{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}


    <div>
        {% if app.request.cookies.get('theme') == 'pulse' %}
        <a href="{{ path('crypto.swapTheme' ,{'theme': app.request.cookies.get('theme')}) }}">Sombre</a>
        {% else %}
        <a href="{{ path('crypto.swapTheme',{'theme': app.request.cookies.get('theme')}) }}">Lumineux</a>
        {% endif %}
    </div>
    <link rel="stylesheet" href="https://bootswatch.com/4/{{ app.request.cookies.get('theme') }}/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('crypto.list') }}">Liste des Cryptomonnaies</a>
        </div>

        <div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>
                        <a href="#" class="btn btn-outline-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                        </svg>
                            Déconnecter</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
